header {
  margin-top: 2em;
}

#main {
  font-family: 'Roboto Slab', serif;
}

#map {
  overflow: auto;
  width: 480px;
  height: 402px;
}

#title, #subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.subheading {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.75em;
  text-align: center;
  margin: .5em;
}

#topics, #results-section {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: 200;
  text-align: center;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 7px;
}

input {
  text-align: center;
}

.hidden-start {
  display: none;
}

button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.photo-text {
  font-size: .75em;
}