header {
  margin-top: 2em;
}

#main {
  font-family: 'Roboto Slab', serif;
}

#title, #subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

#topics {
  margin-top: 3em;
  font-size: 1.5em;
  font-weight: 200;
}

input {
  text-align: center;
}

.hidden-start {
  display: none;
}

/* .accordion-item {

} */

button {
  margin-top: 1em;
  margin-bottom: 1em;
}

#cat-button {
  margin-top: .25em;
  margin-bottom: .5em;
}

#results {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
}


/* REF:
How to call our custom fonts:
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
*/

.green {
  background-color: green;
}

p {
  cursor: pointer;
}